:root {
  --primary-color: #901b90;
  --secondary-color: #00efea;
  --bg-color: #ADAEE9;
  --bg-color-secondary: #545757;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  z-index: 0;
}