:root {
  --primary-color: #551A8B;
  --secondary-color: #9B177E;
  --bg-color: #E8988A;
  --bg-color-secondary: #545757;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  z-index: 0;
}